.header,
.footer {
    background-color: palevioletred;
    color: antiquewhite;
    font-size: 24px;
    display: flex;
    justify-content: end;
}

.header {
    padding: 20px;
 }

.footer {
    padding: 5px 20px;
    font-size: small;
    align-content: space-evenly;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-family: Roboto, 'Times New Roman', Times, sans-serif;
}

h1 {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: darksalmon;
    color: blanchedalmond;
    font-size: large;
}

button:hover {
    background-color: darkorchid;
    font-weight: bold;
}

#yesButton, #noButton {
    position: relative;
    width: 100vw;
    height: 50vh;
    overflow: hidden;
}

#yes, #no {
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    cursor: pointer;
}

#yes {
    top: 10%;
    right: 10%;
}

#no{
    top: 10%;
    left: 10%;
}

.gifContent {
    z-index: -1;
}
