.header,
.footer {
    background-color: palevioletred;
    color: antiquewhite;
    font-size: 24px;
    display: flex;
    padding: 10px;
    align-content: center;
}

.footer {
    padding: 5px 20px;
    font-size: small;
    align-content: space-evenly;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
    font-size: 18px;
    font-family: Roboto, 'Times New Roman', Times, sans-serif;
}

h1 {
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    padding: 5px;
    margin: 5px;
    align-content: center;
}